@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f8ff;
}

/*Navbar*/
.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#000, #fff);
  background-size: 0 4px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#000, #fff);
}

.link-underline:hover {
  background-size: 100% 4px;
  background-position: 0 100%;
}

.sticking {
  background: linear-gradient(
    180deg,
    rgba(240, 248, 255, 1) 0%,
    rgba(240, 248, 255, 0) 95%
  );
  /*backdrop-filter: blur(1px);*/
  /*background-color: #638596;*/
}

.sticking ._turn {
  filter: invert(0%);
  color: #000;
}

/*Divider SVG*/
.custom-shape-divider-top-1696657009 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1696657009 svg {
  position: relative;
  display: block;
  width: calc(129% + 1.3px);
  height: 146px;
}

.custom-shape-divider-top-1696657009 .shape-fill {
  fill: #f0f8ff;
}

.custom-shape-divider-bottom-1696657268 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1696657268 svg {
  position: relative;
  display: block;
  width: calc(129% + 1.3px);
  height: 146px;
}

.custom-shape-divider-bottom-1696657268 .shape-fill {
  fill: #f0f8ff;
}

/*Whatsapp float button*/

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float {
  margin-top: 16px;
}

/*Transitions*/
._service {
  filter: none;
  cursor: pointer;
}

._service > div {
  transition: all ease-in-out 0.5s;
}

._service > div > .weon {
  transition: all linear 0.25s;
}

._service:hover > div {
  min-height: 100%;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 0.5s;
}

._service:hover > div > p {
  visibility: visible;
  opacity: 1;
  min-height: 50%;
  transition: all 0.5s linear 0.25s;
}

/*Animations*/

.text-animation {
  animation: translateText 1.5s 1 forwards;
}

@keyframes translateText {
  0% {
    opacity: 0.25;
  }
  100% {
    transform: translateY(-50%);
    opacity: 1;
  }
}

.bg_a1 {
  animation: 20s linear 15s infinite normal none wea;
}
.bg_a2 {
  animation: 20s linear 10s infinite normal none wea;
}
.bg_a3 {
  animation: 20s linear 5s infinite normal none wea;
}
.bg_a4 {
  animation: 20s linear 0s infinite normal none wea;
}

@keyframes wea {
  0% {
    display: block;
    opacity: 1;
  }
  20% {
    opacity: 1;
    display: block;
  }
  25% {
    opacity: 0;
    display: hidden;
  }
  95% {
    display: hidden;
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
